<!doctype html>
  <html>
    <head>
      <title>Code Snippet Interface</title>
      <link rel="stylesheet" href="../css/styles.css">
      <meta charset="utf-8">
      <body>
        <section>
        <h3>{{req.session.username}}, Enter your code snippet here</h3>
        <form method="post" action="/create">
          <input type="text" name="coder" id="coder" placeholder="Please enter a name: ">
          <input type="text" name="title" id="title" placeholder="Please enter a title: ">
          <input type="date" name="published_date" id="published_date" placeholder="Please select a date: ">
          <textarea rows="10" cols="19" name="body" id="body" placeholder="Please enter your code: "></textarea>
          <textarea rows="10" cols="19" name="notes" id="notes" placeholder="Place any notes here: "></textarea>
          <input type="text" name="language" id="language" placeholder="Coded in which language: ">
          <input type="text" name="tags" id="tags" placeholder="Seperate tags with commas">
          <input type="submit" value="submit">
        </form>

      </section>

      </body>
    </head>
    </html>
