<!doctype html>
    <html>
      <head>
        <title>Login In</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
      </head>
        <body> <img src="../../views/img/Computers-Code.jpg">
        <section class="credentials">
          <form method="post" action="/login">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="Enter your username">
              <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
            <input type="submit" value="submit">
          </form>

          <button><a href="signup">Register</a></button>
          </form>
        </section>
        </body>
   <html>
