<!doctype html>
  <html>
    <head>
      <title>Code Snippet Interface</title>
      <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
      <body>
      <header>
        <p class = "welcome">You are logged in as, {{name}}</p>
        <form  method="post" action="/logout">
          <input id="logout" type="submit" value="Log Out">
        </form>
      </header>
<main>
<section>
<h3>Create a snippet</h3>
<form method="post" action="/create">
  <input type="text" name="coder" id="coder" placeholder="Please enter a name: ">
  <input type="text" name="title" id="title" placeholder="Please enter a title: ">
  <input type="date" name="published_date" id="published_date" placeholder="Please select a date: ">
  <textarea rows="10" cols="19" name="body" id="body" placeholder="Please enter your code: "></textarea>
  <textarea rows="10" cols="19" name="notes" id="notes" placeholder="Place any notes here: "></textarea>
  <input type="text" name="language" id="language" placeholder="Coded in which language: ">
  <input type="text" name="tags" id="tags" placeholder="Seperate tags with commas">
  <input type="submit" value="submit">
</form>
</section>
<section>
  <h3>Edit a snippet</h3>
<form method="post" action="/edit">
  <input type="text" name="coder" id="coder" placeholder="Name a name: ">
<input type="text" name="title" id="title" placeholder="Please enter a title: ">
<textarea rows="10" cols="19" name="body" id="body" placeholder="Please enter your code: "></textarea>
<textarea rows="10" cols="19" name="notes" id="notes" placeholder="Place any notes here: "></textarea>
<input type="text" name="language" id="language" placeholder="Coded in which language: ">
<input type="text" name="tags" id="tags" placeholder="Seperate tags with commas">
<input type="submit" value="submit">
</form>
</section>
<section>
<h3>Search a snippet</h3>
<form method="post" action="/search">
  <input type="text" name="coder" id="coder" placeholder="Please enter a name: ">
  <input type="text" name="title" id="title" placeholder="Please enter a title: ">
  <input type="date" name="published_date" id="published_date" placeholder="Please select a date: ">
  <input type="text" name="language" id="language" placeholder="Coded in which language: ">
  <input type="text" name="tags" id="tags" placeholder="Seperate tags with commas">
  <input type="submit" value="submit">
</form>
</section>
<section>
<h3>Delete a snippet</h3>
<form method="post" action="/delete">
  <input type="text" name="delete_coder" id="coder"
  placeholder="Please enter a name: ">
  <input type="text" name="delete_title" id="title"
  placeholder="Please enter a title you wish to delete: ">
  <input type="submit" value="submit">
</form>
</section>
</main>
<aside>
<p>{{#returnedData}}
  <figure>
  <h2>{{coder}}</h2>
  <h3>{{title}}</h3>
  <p>{{body}}</p>
  <p>{{notes}}</p>
  <p>{{language}}</p>
  <p>{{tags}}</p>
</figure>
{{/returnedData}}</p>
</aside>
    </body>
  </html>
