main {
  display: flex;
  align-items: flex-start;

}
section {

  margin: 5%;
  height: 30%;
  width: 30%;
}

body {
  background-image: url("../img/yoda.jpeg");
  color: white;
}

h3 {
  font-size: 2em;
}
input {
  height: 30px;
  width: 90%;
  padding: 1%;
  margin: 1%;
}
textarea {
  padding: 1%;
  margin: 1%;
  margin-left: 1%;
}
aside {
  display: flex;
  display: flex-start;
}
figure {
  padding: 1%;
  word-wrap: break-word;
  width: 40%;
  color: white;
  border: 3px solid darkgray;
}
