
section {
  margin: 20%;
  border: 3px solid black;
  background-color: gray;
  margin: 40% 55%;
}

.search{
  margin: 25% 45%;
}

/*body {
  background-image: url("../img/Computers-Code.jpg");

}*/

h3 {
  color: blue;
  font-size: 2em;
}

figure {
  display: inline-block;
  padding: 1%;
  height: 400px;
  width: 400px;
  background-color: gray;
  border: 3px solid darkgray;
}
